/*Accommodation services*/
.equi-ico {
    width:50px;
    height:50px;
    display: inline-block;
    margin-left: 8px;
    margin-top: 20px;
    cursor:pointer;
}

.wifi {
    background-image: url("../icons/wifi.png");
    background-size: 50px 50px;
}

.wifiGrey {
    background-image: url("../icons/wifi_grey.png");
    background-size: 50px 50px;
}

.wifiWhite {
    background-image: url("../icons/wifi_white.png");
    background-size: 50px 50px;
}

.tv {
    background-image: url("../icons/tv.png");
    background-size: 50px 50px;
}

.tvGrey {
    background-image: url("../icons/tv_grey.png");
    background-size: 50px 50px;
}

.tvWhite {
    background-image: url("../icons/tv_white.png");
    background-size: 50px 50px;
}

.shower {
    background-image: url("../icons/shower.png");
    background-size: 50px 50px;
}

.showerGrey {
    background-image: url("../icons/shower_grey.png");
    background-size: 50px 50px;
}

.showerWhite {
    background-image: url("../icons/shower_white.png");
    background-size: 50px 50px;
}

.meal {
    background-image: url("../icons/kitchen.png");
    background-size: 50px 50px;
}

.mealGrey {
    background-image: url("../icons/kitchen_grey.png");
    background-size: 50px 50px;
}

.mealWhite {
    background-image: url("../icons/kitchen_white.png");
    background-size: 50px 50px;
}

.breakfast {
    background-image: url("../icons/breakfast.png");
    background-size: 50px 50px;
}

.breakfastGrey {
    background-image: url("../icons/breakfast_grey.png");
    background-size: 50px 50px;
}

.breakfastWhite {
    background-image: url("../icons/breakfast_white.png");
    background-size: 50px 50px;
}

.smoker {
    background-image: url("../icons/smoking.png");
    background-size: 50px 50px;
}

.smokerGrey {
    background-image: url("../icons/smoking_grey.png");
    background-size: 50px 50px;
}

.smokerWhite {
    background-image: url("../icons/smoking_white.png");
    background-size: 50px 50px;
}

.parking {
    background-image: url("../icons/parking.png");
    background-size: 50px 50px;
}

.parkingGrey {
    background-image: url("../icons/parking_grey.png");
    background-size: 50px 50px;
}

.parkingWhite {
    background-image: url("../icons/parking_white.png");
    background-size: 50px 50px;
}

.handicapped {
    background-image: url("../icons/wheelchair.png");
    background-size: 50px 50px;
}

.handicappedGrey {
    background-image: url("../icons/wheelchair_grey.png");
    background-size: 50px 50px;
}

.handicappedWhite {
    background-image: url("../icons/wheelchair_white.png");
    background-size: 50px 50px;
}
