/*Accommodation services*/
.equi-ico {
    width:50px;
    height:50px;
    display: inline-block;
    margin-left: 8px;
    margin-top: 20px;
    cursor:pointer;
}

.wifi {
    background-image: url("/images/icons/icons_stimmung-13.png");
}

.wifiGrey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-13.png");
}

.tv {
    background-image: url("/images/icons/icons_stimmung-14.png");
}

.tvGrey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-14.png");
}

.shower {
    background-image: url("/images/icons/icons_stimmung-15.png");
}

.showerGrey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-15.png");
}

.meal {
    background-image: url("/images/icons/icons_stimmung-20.png");
}

.mealGrey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-20.png");
}

.breakfast {
    background-image: url("/images/icons/icons_stimmung-18.png");
}

.breakfastGrey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-18.png");
}

.smoker {
    background-image: url("/images/icons/icons_stimmung-16.png");
}

.smokerGrey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-16.png");
}

.parking {
    background-image: url("/images/icons/icons_stimmung-19.png");
}

.parkingGrey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-19.png");
}

.handicapped {
    background-image: url("/images/icons/icons_stimmung-17.png");
}

.handicappedGrey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-17.png");
}